Daten/.DS_Store
Daten/taxdump/.DS_Store
Daten/taxdump/citations.dmp
Daten/taxdump/delnodes.dmp
Daten/taxdump/division.dmp
Daten/taxdump/gc.prt
Daten/taxdump/gencode.dmp
Daten/taxdump/merged.dmp
Daten/taxdump/names.dmp
Daten/taxdump/nodes.dmp
Daten/taxdump/readme.txt
Daten/accession2taxid/nucl_gb.accession2taxid
Daten/accession2taxid/README.txt
GCToolDB.db
test.py
